{% extends 'base.html' %}
{% block title %}
    <title> SHOW LAPTOP </title>
{% endblock %}

{% block content %}

<table class="table table-striped">
    <thead>
        <tr>
            <th> LAPTOP ID</th>
            <th>  MODEL </th>
            <th>  RAM </th>
            <th>  PROCESSOR </th>
            <th>  PRICE </th>
            <th>  BRAND </th>

        </tr>
    </thead>
    <tbody>
        {% for records in data %}
            <tr>
                <td>{{records.laptop_id}}</td>
                <td>{{records.model_name}}</td>
                <td>{{records.ram}}</td>
                <td>{{records.processor}}</td>
                <td>{{records.price}}</td>
                <td>{{records.brand}}</td>


            </tr>
    {% endfor %}
    </tbody>
</table>